In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('compounds_with_smiles.csv')

In [3]:
df = pd.DataFrame(data)

In [4]:
df

,Compound,Energy,Element_Names,SMILES
0,"1,2-Dichloroethane",12.57,['Dichloroethane'],C(CCl)Cl
1,2-Chloroethanol,5.00,['Chloroethanol'],C(CCl)O
2,Ethylene Glycol,1189.20,"['Ethylene', 'Glycol']",C(CO)O
3,Acetic Acid,874.20,"['Acetic', 'Acid']",CC(=O)O
4,Acetaldehyde,-1168.79,['Acetaldehyde'],CC=O
...,...,...,...,...
517,Zincum phosphoratum,5.00,['Zincum'],[P-3].[P-3].[Zn+2].[Zn+2].[Zn+2]
518,Titanium tetrabutoxide,-8100.00,['Titanium'],CCCCO.CCCCO.CCCCO.CCCCO.[Ti]
519,Tetrabutyl orthotitanate,-8100.00,['Tetrabutyl'],CCCCO
520,trans-5-Ethylidenebicyclo[2.2.1]hept-2-ene,450.00,['Ethylidenebicyclo'],CC=C1C[C@@H]2C[C@@H]1C=C2
521,"s-Triazol-3-ol, 5-nitro-",-934.40,['Triazol'],C1(=O)NC(=NN1)[N+](=O)[O-]

In [5]:
df.rename(columns={"SMILES": "smiles"}, inplace=True)

In [6]:
df.index

RangeIndex(start=0, stop=522, step=1)

In [7]:
df = df[['smiles', 'Energy']]

In [8]:
df.head(2)

     smiles  Energy
0  C(CCl)Cl   12.57
1   C(CCl)O    5.00

In [9]:
df.to_csv("smiles02.csv", index=False)

In [10]:
df

                               smiles   Energy
0                            C(CCl)Cl    12.57
1                             C(CCl)O     5.00
2                              C(CO)O  1189.20
3                             CC(=O)O   874.20
4                                CC=O -1168.79
..                                ...      ...
517  [P-3].[P-3].[Zn+2].[Zn+2].[Zn+2]     5.00
518      CCCCO.CCCCO.CCCCO.CCCCO.[Ti] -8100.00
519                             CCCCO -8100.00
520         CC=C1C[C@@H]2C[C@@H]1C=C2   450.00
521        C1(=O)NC(=NN1)[N+](=O)[O-]  -934.40

[522 rows x 2 columns]